{% extends "../_base.htm" %} 


{% block title %}
Time - Management | ToDo - Liste
{% endblock %}

{% block css %}
<link href="../scripts/yaml/screen/forms.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block col1_content %}
<div class="info">
    <h3>Hinweise zu ToDo-Listen</h3>
    <p>Die ToDo-Listen dienen zum notieren von Dingen die Sie in Zukunft erledigen möchten.</p>
</div>
{% endblock %}


{% block bodycontent %}
<h2>ToDo-Listen</h2>
	<hr />
	<span ="greeting">{{ greeting }}</span>
	<ul class="lists">
	{% for list in lists %}
		<li>
			<a href="todo/list?key={{ list.key }}">{{ list.name|escape }}</a>
			<small><q> - <a href="todo/deletelist?key={{ list.key }}">löschen</a></q></small>
		</li>
	{% endfor %}
	</ul>
	<br /><br />
	<div class="form">
		<form action="todo/newlist" method="post" class="yform" role="application">
			<fieldset>
				<div class="type-text">
					<input type="text" name="name" size="49" />
				</div>
				<div class="type-button">
					<input type="submit" value="Neue Liste anlegen" />
				</div>
			</fieldset>
		</form>
	</div>
{% endblock %}