{% extends "_base.htm" %} 

{% block col1_content %}
<div class="info">
  <h3>Über das Projekt</h3>
  <p>Diese einfache Webanwendung basiert auf die <a href="http://code.google.com/appengine/">Google-App-Engine</a>.<br/ > Es handelt sich hierbei um ein Open-Source Projekt, dass im Rahmen der Vorlesung Softwarearchitektur und Softwarequalität entstanden ist.</p>
  <p><strong>Referenzen...</strong></p>
  <ul>
      <li><a href="http://code.google.com/appengine/docs/whatisgoogleappengine.html" target="blank">What Is Google App Engine?</a></li>
      <li><a href="http://code.google.com/appengine/docs/"  target="blank">Developer's Guide</a></li>
      <li><a href="http://github.com/kruegmar/time-management" target="blank">Quellcode auf Github</a></li>
  </ul>
</div>
{% endblock %}


{% block bodycontent %}
<h2>Impressum</h2>
<hr />
<p>Marian Krüger | kruegmar@fh-brandenburg.de</p> 
{% endblock %}