<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>ToDo-Liste</title>
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="/scripts/prototype.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<h1>Liste: {{ list.name|escape }}</h1>
<a href="/" class="back">zurück zur Übersicht</a>
<div id ="open">
	<ul>
	{% for item in open_items %}
		<li>
			<input type="checkbox" name="done" value="done" onChange="new Ajax.Updater('done', '/checkitem', { parameters: { key: '{{ item.key }}', done: 'true' }}); $(this).up().hide();" />
			{{ item.text|escape }}<br />
			<small>angelegt am {{ item.date|date:"d.m.Y \u\m H:m:s" }} Uhr - <a href="/deleteitem?key={{ item.key }}">löschen</a></small>
		</li>
  {% endfor %}
	</ul>
</div>
<div class="form">
<form action="/list" method="post">
	<input type="hidden" name="list_key" value="{{ list.key }}" />
	<div>
	<input type="text" name="text" size="44" />
	<input type="submit" value="Neuen Punkt hinzufügen"></div>
</form>
</div>
<div id="done">
	<ul>
	{% for item in done_items %}
	<li>
		<input type="checkbox" name="done" value="done" checked="checked" onChange="new Ajax.Updater('open', '/checkitem', { parameters: { key: '{{ item.key }}', done: 'false' }}); $(this).up().hide();" />
		{{ item.text|escape }}<br />
		<small>erledigt am {{ item.date|date:"d.m.Y \u\m H:m:s" }} Uhr - <a href="/deleteitem?key={{ item.key }}">löschen</a></small>
	</li>
  {% endfor %}
	</ul>
</div>
</body>
</html>
